/* main.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 50px;
}

footer#contact {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.center {
    text-align: center;
}

/* Countdown timer styles */
#countdown {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
    /* Adjust the font size and padding for smaller screens */
    #countdown {
        font-size: 24px;
        padding: 10px;
    }
}
