/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Countdown Timer */
#welcome-container {
    text-align: center;
    margin-top: 50px;
}

/* Hidden class */
.hidden {
    display: none;
}

/* Button Styles */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Install Guide Styles */
ol {
    margin-left: 30px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 0;
    }
}
